extends layout

block content
    h1= title
    p Welcome to #{title}
    a(href='https://api.twitch.tv/kraken/oauth2/authorize?client_id=fel8nb5mmr4w1t5nab3egh576bfr4f&redirect_uri=http://localhost:3000&response_type=code&scope=viewing_activity_read') Test login
